/* Account / Calendar */
.numbers_account_calendar_holder {
	border: 1px solid #ccc;
	position: relative;
}
.numbers_account_calendar_td {
	border-right: 1px solid #ccc;
	padding: 0;
	margin: 0;
	position: relative;
	width: 14% !important;
}
.numbers_account_calendar_ampm {
	border-right: 1px solid #ccc;
	padding: 0;
	margin: 0;
	position: relative;
	width: 5% !important;
}
.numbers_account_calendar_weekday_name {
	padding: 2px;
}
.numbers_account_calendar_cell {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 60px;
	position: relative;
}
.numbers_account_calendar_label_holder {
	position: relative;
	width: 4em;
	text-align: right;
	border-right: 1px solid #ccc;
}
.numbers_account_calendar_label {
	position: absolute;
	top: -1em;
	left: 1em;
}
.numbers_account_calendar_current {
	background-color: #eee;
}
.numbers_account_calendar_multiday_cell {
	height: 1.2em;
	position: relative;
	max-width: 15em;
	overflow-x: hidden;
}
.numbers_account_calendar_multiday_interval {}
.numbers_account_calendar_singleday_interval {
	position: absolute;
	width: 100%;
}
.numbers_account_calendar_month_cell {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 100px;
	position: relative;
	vertical-align: top;
}

/* Dashboard */
.numbers_postlogin_dashboard_div {
	text-align: center;
	height: 5em;
	overflow: hidden;
	font-size: 0.6rem;
}
.numbers_postlogin_dashboard_icon {
	font-size: 2em;
}