<!DOCTYPE html>
<html <?php echo I18n::rtl(false); ?> layout="printable">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" type="text/css" href="/numbers/media_submodules/numbers_frontend_html_form_media_css_base.css" />
		<link rel="stylesheet" type="text/css" media="print" href="/numbers/media_submodules/numbers_frontend_html_form_media_css_print.css" />
		<!-- [numbers: document title] -->
		<!-- [numbers: javascript links] -->
		<!-- [numbers: css links] -->
		 <style>
			body {
				margin: 0;
			}
		 </style>
	</head>
	<body>
		<!-- [numbers: document body] -->
	</body>
</html>
